<div style="color: yellow; background-color: darkblue;">
<div id="header">
<h1>Project Utilities</h1>
</div>
<div id="main">
<div id="left" style="text-align: left; float: left; width: 30%;">
<ul style="list-style-type: none;">
	<li> <a href="#" style="text-decoration: none; color: yellow;">Entity Creator</a>
</ul>
</div>
<div id="right" style="text-align: left; float: right; width: 70%;">
<p> Please choose items from left menu to use the APP.</p>
</div>
</div>
<div id="footer" style="text-align: right; font-size: 8pt;">
Version: pt-v-0.0.1 &copy; Indigenous Software Limited. 2020<sup>&reg;</sup>
</div>
</div>