<div style="color: blue; height: 100%;">
	<table width="100%">
		<tr>
			<td>
				<div id="header" style="height: 20%;">
					<app-header></app-header>
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div id="main" style="height: 70%;">
					<div id="left" style="text-align: left; float: left; width: 30%;">
						<div>
							<h3> Project </h3>
							<ul style="list-style-type: none;">
								<li><a [routerLink]="['/ec/backend/project/manage']"
								style="text-decoration: none;">Manage Project</a>
							</ul>
						</div>
					  <div>
							<h3> Entity Creator </h3>
							<ul style="list-style-type: none;">
								<li><a [routerLink]="['/ec/backend/schema/gen']"
								style="text-decoration: none;">Schema Generator</a>
								<li><a [routerLink]="['ec/backend/entity/gen']"
									style="text-decoration: none;">Entity Creator</a>
								</ul>
						</div>
					</div>
					<div id="right" style="text-align: left; float: right; width: 70%;">
								<p>Please choose items from left menu to use the APP.</p>
								<router-outlet></router-outlet>
					</div>
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div id="footer"
					style="text-align: right; float: right; font-size: 8pt; height: 10%;">
					<app-footer></app-footer>
				</div>
			</td>
		</tr>
	</table>
</div>
