<div style="color: yellow; background-color: darkblue; height: 100%;">
	<table width="100%">
		<tr>
			<td>
				<div id="header" style="height: 20%;">
					<app-header></app-header>
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div id="main" style="height: 70%;">
					<div id="left" style="text-align: left; float: left; width: 30%;">
						<ul style="list-style-type: none;">
							<li><a [routerLink]="['/ec/backend/hero/schema/gen']"
								style="text-decoration: none; color: yellow;">Schema Generator</a>
						</ul>
						<ul style="list-style-type: none;">
							<li><a [routerLink]="['ec/backend/hero/entity/gen']"
								style="text-decoration: none; color: yellow;">Entity Creator</a>
						</ul>
					</div>
					<div id="right" style="text-align: left; float: right; width: 70%;">
						<p>Please choose items from left menu to use the APP.</p>
						<div>
							<router-outlet></router-outlet>
						</div>
					</div>
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div id="footer"
					style="text-align: right; float: right; font-size: 8pt; height: 10%;">
					<app-footer></app-footer>
				</div>
			</td>
		</tr>
	</table>
</div>