<div>
	<span><h3>Create an Entity</h3></span>
	<p> This form allows you to create entity for your project.</p>
	<div>
		<div class="card" style="color: blue;">
		  <div><h3>Create Entity</h3></div>
		  <div class="card-body">
		    <form [formGroup]="createEntityForm" novalidate>

					<div class="form-group">
		        <label class="col-md-4">Select Project:</label>
		        <select class="form-control" formControlName="projectName"
		          #projectName>
							<option *ngFor="let project of projectList" id="{{project.id}}" value="{{project.id}}">{{project.shortName}}[{{project.name}}]</option>
						</select>
		      </div>
		      <div *ngIf="createEntityForm.controls['projectName'].invalid && (createEntityForm.controls['projectName'].dirty || createEntityForm.controls['projectName'].touched)" class="alert alert-danger">
		        <div *ngIf="createEntityForm.controls['projectName'].errors.required">
		          Project Name is required.
		        </div>
		      </div>

					<div class="form-group">
		        <label class="col-md-4">Select  schema:</label>
		        <select class="form-control" formControlName="schemaName"
		          #schemaName >
							<option>SELECT-ONE</option>
						</select>
		      </div>
		      <div *ngIf="createEntityForm.controls['schemaName'].invalid && (createEntityForm.controls['schemaName'].dirty || createEntityForm.controls['schemaName'].touched)" class="alert alert-danger">
		        <div *ngIf="createEntityForm.controls['schemaName'].errors.required">
		          Schema Name is required.
		        </div>
		      </div>

					<div class="form-group">
		        <label class="col-md-4">Enter entity Name:</label>
		        <input type="text" class="form-control" formControlName="entityName"
		          #entityName >
		      </div>
		      <div *ngIf="createEntityForm.controls['entityName'].invalid && (createEntityForm.controls['entityName'].dirty || createEntityForm.controls['entityName'].touched)" class="alert alert-danger">
		        <div *ngIf="createEntityForm.controls['entityName'].errors.required">
		          Schema Name is required.
		        </div>
		      </div>

					<div class="form-group">
		        <label class="col-md-4">Enter Entity Description:</label>
		        <textarea rows="5" cols="20" class="form-control" formControlName="description"
		          #description>
		        </textarea>
		      </div>

					<span><p style="color: red;"> Facility to be added to add fields for the entity </p></span>

					<div class="form-group center">
		        <button type="submit" class="btn btn-primary" (click) = "addProject(name.value, shortName.value, description.value)" [disabled]="disabled">Create</button>
		      </div>
			</form>
	</div>
</div>
</div>
</div>
