<div>
	<h2>Entity Creator</h2>
	<p> This form allows you to create entity for your project.</p>
	<div> 
	<table>
	    <tr>
			<td>Select Project:</td>
			<td>
				<select>
					<option value="-1">--SELECT ONE--</option>
					<option vlue="1">lss [Last Shelter Survival]</option>
					<option vlue="1">pt [Project Tools]</option>
				</select>
			</td>
		</tr>
		<tr>
			<td>Select  schema:</td>
			<td>
				<select>
					<option value="-1">--SELECT ONE--</option>
					<option vlue="1">SCHEMA 1</option>
					<option vlue="1">SCHEMA 2</option>
				</select>
			</td>
		</tr>
		<tr>
		<td> Enter entity Name: </td>
		<td> <input type="text"/></td>
		</tr>
		<tr>
		<td> Enter entity description: </td>
		<td> 
			<textarea rows="5" cols="50"></textarea>
		</td>
		</tr>
	</table>
	</div>
	<p style="color: red;"> Facility to be added to add fields for the entity </p>
</div>